<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        html,body{
            background: #2e3254;
            height: 100%;
        }
        .menu-list{
            height: 100%;
            padding-top:20px;
            font-size:18px;
        }
        .menu-list ul{
            list-style: none;
            padding:0;
            margin:0 auto;
        }
        .menu-list ul li{
            text-align:left;
            color: #616c82;
        }
        .menu-list ul li.first-menu{
            overflow: hidden;

        }
        .menu-list ul li:HOVER>a{
            color: #007FC8;
        }
        .menu-list ul li a{
            display:block;
            padding:16px 0;
            color: #5f78a2;
            text-decoration:none;
        }
        .menu-list ul li.first-menu>a{
            padding-left: 15px;
        }
        .menu-list ul li.first-menu.active>a{
            color: #1c9dff;
            vertical-align: middle;
        }
        .menu-list ul li.first-menu.active ul li.second-menu.current a{
            background-color: #4d527c;
            font-size: 18px;
        }
        .menu-list ul li.first-menu ul{
            display:none;
        }
        .menu-list ul li.first-menu ul li.second-menu a{
            padding: 12px 0 12px 31px;
            font-size:16px;
            color: #8aa3cd;
        }
    </style>
    <title></title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.min.js"></script>

</head>
<body>
<div class="menu-list">
    <ul>
        <li class="first-menu">
            <a href="javascript:;">医疗知识图谱首页</a>
        </li>
        <li class="first-menu">
            <a href="javascript:;">疾病</a>
            <ul>
<li class="second-menu"><a href="/deal_request?name=心境障碍&id=1" id="1">心境障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂发作&id=2" id="2">躁狂发作</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍&id=3" id="3">双相情感障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=抑郁障碍&id=4" id="4">抑郁障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=复发性抑郁障碍&id=5" id="5">复发性抑郁障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=其他抑郁发作&id=6" id="6">其他抑郁发作</a></li>
<li class="second-menu"><a href="/deal_request?name=女性抑郁&id=7" id="7">女性抑郁</a></li>
</ul>
        </li>
        <li class="first-menu">
            <a href="javascript:;">子疾病</a>
            <ul>
<li class="second-menu"><a href="/deal_request?name=抑郁障碍&id=8" id="8">抑郁障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂发作&id=9" id="9">躁狂发作</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍&id=10" id="10">双相情感障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=轻躁狂&id=11" id="11">轻躁狂</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂，不伴精神病性症状&id=12" id="12">躁狂，不伴精神病性症状</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂，伴精神病性症状&id=13" id="13">躁狂，伴精神病性症状</a></li>
<li class="second-menu"><a href="/deal_request?name=其它既往躁狂发作&id=14" id="14">其它既往躁狂发作</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂发作，未特定&id=15" id="15">躁狂发作，未特定</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍，目前为轻躁狂&id=16" id="16">双相情感障碍，目前为轻躁狂</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍，目前为不伴精神病性症状躁狂发作&id=17" id="17">双相情感障碍，目前为不伴精神病性症状躁狂发作</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍，目前为伴有精神病性症状躁狂发作&id=18" id="18">双相情感障碍，目前为伴有精神病性症状躁狂发作</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍，目前为轻度或中度抑郁&id=19" id="19">双相情感障碍，目前为轻度或中度抑郁</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍，目前为不伴精神病性症状的重度抑郁发作&id=20" id="20">双相情感障碍，目前为不伴精神病性症状的重度抑郁发作</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍，目前为伴有精神病性症状的重度抑郁发作&id=21" id="21">双相情感障碍，目前为伴有精神病性症状的重度抑郁发作</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍，目前为混合状态&id=22" id="22">双相情感障碍，目前为混合状态</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍，目前为缓解状态&id=23" id="23">双相情感障碍，目前为缓解状态</a></li>
<li class="second-menu"><a href="/deal_request?name=其他双相情感障碍&id=24" id="24">其他双相情感障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=双相情感障碍，未特定&id=25" id="25">双相情感障碍，未特定</a></li>
<li class="second-menu"><a href="/deal_request?name=持续性心境情感障碍&id=26" id="26">持续性心境情感障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=环性心境&id=27" id="27">环性心境</a></li>
<li class="second-menu"><a href="/deal_request?name=恶劣心境&id=28" id="28">恶劣心境</a></li>
<li class="second-menu"><a href="/deal_request?name=轻度抑郁发作&id=29" id="29">轻度抑郁发作</a></li>
<li class="second-menu"><a href="/deal_request?name=中度抑郁发作&id=30" id="30">中度抑郁发作</a></li>
<li class="second-menu"><a href="/deal_request?name=重度抑郁发作&id=31" id="31">重度抑郁发作</a></li>
<li class="second-menu"><a href="/deal_request?name=重度抑郁发作，不伴精神病性症状&id=32" id="32">重度抑郁发作，不伴精神病性症状</a></li>
<li class="second-menu"><a href="/deal_request?name=重度抑郁发作，伴有精神病性症状&id=33" id="33">重度抑郁发作，伴有精神病性症状</a></li>
<li class="second-menu"><a href="/deal_request?name=其他抑郁发作&id=34" id="34">其他抑郁发作</a></li>
<li class="second-menu"><a href="/deal_request?name=抑郁发作，未特定&id=35" id="35">抑郁发作，未特定</a></li>
<li class="second-menu"><a href="/deal_request?name=复发性抑郁障碍，目前为轻度发作&id=36" id="36">复发性抑郁障碍，目前为轻度发作</a></li>
<li class="second-menu"><a href="/deal_request?name=复发性抑郁障碍，目前为中度发作&id=37" id="37">复发性抑郁障碍，目前为中度发作</a></li>
<li class="second-menu"><a href="/deal_request?name=复发性抑郁障碍，目前为不伴有精神病性定状的重度发作&id=38" id="38">复发性抑郁障碍，目前为不伴有精神病性定状的重度发作</a></li>
<li class="second-menu"><a href="/deal_request?name=复发性抑郁障碍，目前为伴精神病性症状的重度发作&id=39" id="39">复发性抑郁障碍，目前为伴精神病性症状的重度发作</a></li>
<li class="second-menu"><a href="/deal_request?name=复发性抑郁障碍，目前为缓解状态&id=40" id="40">复发性抑郁障碍，目前为缓解状态</a></li>
<li class="second-menu"><a href="/deal_request?name=其他复发性抑郁障碍&id=41" id="41">其他复发性抑郁障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=复发性抑郁障碍，未特定&id=42" id="42">复发性抑郁障碍，未特定</a></li>
<li class="second-menu"><a href="/deal_request?name=内源性抑郁&id=43" id="43">内源性抑郁</a></li>
<li class="second-menu"><a href="/deal_request?name=非典型抑郁&id=44" id="44">非典型抑郁</a></li>
<li class="second-menu"><a href="/deal_request?name=紧张性抑郁&id=45" id="45">紧张性抑郁</a></li>
<li class="second-menu"><a href="/deal_request?name=混合性抑郁&id=46" id="46">混合性抑郁</a></li>
<li class="second-menu"><a href="/deal_request?name=季节性抑郁&id=47" id="47">季节性抑郁</a></li>
<li class="second-menu"><a href="/deal_request?name=月经期抑郁&id=48" id="48">月经期抑郁</a></li>
<li class="second-menu"><a href="/deal_request?name=孕产期抑郁&id=49" id="49">孕产期抑郁</a></li>
<li class="second-menu"><a href="/deal_request?name=更年期抑郁&id=50" id="50">更年期抑郁</a></li>
</ul>

        </li>
        <li class="first-menu">
            <a href="javascript:;">症状</a>
            <ul>
<li class="second-menu"><a href="/deal_request?name=抑郁发作-核心症状&id=51" id="51">抑郁发作-核心症状</a></li>
<li class="second-menu"><a href="/deal_request?name=抑郁发作-附加症状&id=52" id="52">抑郁发作-附加症状</a></li>
<li class="second-menu"><a href="/deal_request?name=抑郁发作-心理症状群&id=53" id="53">抑郁发作-心理症状群</a></li>
<li class="second-menu"><a href="/deal_request?name=抑郁发作-额外症状&id=54" id="54">抑郁发作-额外症状</a></li>
<li class="second-menu"><a href="/deal_request?name=抑郁发作-躯体症状群&id=55" id="55">抑郁发作-躯体症状群</a></li>
<li class="second-menu"><a href="/deal_request?name=抑郁发作-其他临床特征&id=56" id="56">抑郁发作-其他临床特征</a></li>
<li class="second-menu"><a href="/deal_request?name=抑郁发作-其他影响因素&id=57" id="57">抑郁发作-其他影响因素</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂发作-核心症状&id=58" id="58">躁狂发作-核心症状</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂发作-附加症状&id=59" id="59">躁狂发作-附加症状</a></li>
<li class="second-menu"><a href="/deal_request?name=其他影响症状&id=60" id="60">其他影响症状</a></li>
<li class="second-menu"><a href="/deal_request?name=情绪症状&id=61" id="61">情绪症状</a></li>
<li class="second-menu"><a href="/deal_request?name=思维症状&id=62" id="62">思维症状</a></li>
<li class="second-menu"><a href="/deal_request?name=意志行为&id=63" id="63">意志行为</a></li>
<li class="second-menu"><a href="/deal_request?name=躯体症状&id=64" id="64">躯体症状</a></li>
<li class="second-menu"><a href="/deal_request?name=焦虑、抑郁、激越&id=65" id="65">焦虑、抑郁、激越</a></li>
<li class="second-menu"><a href="/deal_request?name=认知损害&id=66" id="66">认知损害</a></li>
<li class="second-menu"><a href="/deal_request?name=精神运动性迟滞&id=67" id="67">精神运动性迟滞</a></li>
<li class="second-menu"><a href="/deal_request?name=躯体症状&id=68" id="68">躯体症状</a></li>
<li class="second-menu"><a href="/deal_request?name=疑病症状&id=69" id="69">疑病症状</a></li>
<li class="second-menu"><a href="/deal_request?name=妄想&id=70" id="70">妄想</a></li>
<li class="second-menu"><a href="/deal_request?name=自杀倾向&id=71" id="71">自杀倾向</a></li>
<li class="second-menu"><a href="/deal_request?name=精神症状&id=72" id="72">精神症状</a></li>
<li class="second-menu"><a href="/deal_request?name=血管运动障碍症状&id=73" id="73">血管运动障碍症状</a></li>
<li class="second-menu"><a href="/deal_request?name=泌尿生殖症状&id=74" id="74">泌尿生殖症状</a></li>
<li class="second-menu"><a href="/deal_request?name=代谢相关症状&id=75" id="75">代谢相关症状</a></li>
<li class="second-menu"><a href="/deal_request?name=持续性抑郁发作&id=76" id="76">持续性抑郁发作</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂不伴精神病性症状&id=77" id="77">躁狂不伴精神病性症状</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂伴精神病性症状&id=78" id="78">躁狂伴精神病性症状</a></li>
<li class="second-menu"><a href="/deal_request?name=血管运动障碍症状&id=79" id="79">血管运动障碍症状</a></li>
<li class="second-menu"><a href="/deal_request?name=泌尿生殖系统症状&id=80" id="80">泌尿生殖系统症状</a></li>
<li class="second-menu"><a href="/deal_request?name=代谢相关症状&id=81" id="81">代谢相关症状</a></li>
</ul>
        </li>
        <li class="first-menu">
            <a href="javascript:;">子症状</a>
<ul>
<li class="second-menu"><a href="/deal_request?name=情绪低落&id=82" id="82">情绪低落</a></li>
<li class="second-menu"><a href="/deal_request?name=兴趣减退&id=83" id="83">兴趣减退</a></li>
<li class="second-menu"><a href="/deal_request?name=精力丧失&id=84" id="84">精力丧失</a></li>
<li class="second-menu"><a href="/deal_request?name=焦虑&id=85" id="85">焦虑</a></li>
<li class="second-menu"><a href="/deal_request?name=思维迟缓&id=86" id="86">思维迟缓</a></li>
<li class="second-menu"><a href="/deal_request?name=自责自罪&id=87" id="87">自责自罪</a></li>
<li class="second-menu"><a href="/deal_request?name=自杀行为和未遂&id=88" id="88">自杀行为和未遂</a></li>
<li class="second-menu"><a href="/deal_request?name=精神运动性激越&id=89" id="89">精神运动性激越</a></li>
<li class="second-menu"><a href="/deal_request?name=精神病性症状&id=90" id="90">精神病性症状</a></li>
<li class="second-menu"><a href="/deal_request?name=认知症状&id=91" id="91">认知症状</a></li>
<li class="second-menu"><a href="/deal_request?name=精神运动性迟滞&id=92" id="92">精神运动性迟滞</a></li>
<li class="second-menu"><a href="/deal_request?name=自知力&id=93" id="93">自知力</a></li>
<li class="second-menu"><a href="/deal_request?name=睡眠障碍&id=94" id="94">睡眠障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=食欲减退&id=95" id="95">食欲减退</a></li>
<li class="second-menu"><a href="/deal_request?name=精力丧失&id=96" id="96">精力丧失</a></li>
<li class="second-menu"><a href="/deal_request?name=昼重夜轻&id=97" id="97">昼重夜轻</a></li>
<li class="second-menu"><a href="/deal_request?name=性功能障碍&id=98" id="98">性功能障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=非特异性躯体症状&id=99" id="99">非特异性躯体症状</a></li>
<li class="second-menu"><a href="/deal_request?name=体重下降&id=100" id="100">体重下降</a></li>
<li class="second-menu"><a href="/deal_request?name=心脏问题&id=101" id="101">心脏问题</a></li>
<li class="second-menu"><a href="/deal_request?name=胸闷问题&id=102" id="102">胸闷问题</a></li>
<li class="second-menu"><a href="/deal_request?name=虚弱&id=103" id="103">虚弱</a></li>
<li class="second-menu"><a href="/deal_request?name=消化不适&id=104" id="104">消化不适</a></li>
<li class="second-menu"><a href="/deal_request?name=排泄不适&id=105" id="105">排泄不适</a></li>
<li class="second-menu"><a href="/deal_request?name=月经问题&id=106" id="106">月经问题</a></li>
<li class="second-menu"><a href="/deal_request?name=疼痛&id=107" id="107">疼痛</a></li>
<li class="second-menu"><a href="/deal_request?name=头晕&id=108" id="108">头晕</a></li>
<li class="second-menu"><a href="/deal_request?name=精神运动性激越&id=109" id="109">精神运动性激越</a></li>
<li class="second-menu"><a href="/deal_request?name=精神运动性迟滞&id=110" id="110">精神运动性迟滞</a></li>
<li class="second-menu"><a href="/deal_request?name=自信心丧失&id=111" id="111">自信心丧失</a></li>
<li class="second-menu"><a href="/deal_request?name=自责自罪&id=112" id="112">自责自罪</a></li>
<li class="second-menu"><a href="/deal_request?name=自杀&id=113" id="113">自杀</a></li>
<li class="second-menu"><a href="/deal_request?name=注意力降低&id=114" id="114">注意力降低</a></li>
<li class="second-menu"><a href="/deal_request?name=精神活动性活动改变&id=115" id="115">精神活动性活动改变</a></li>
<li class="second-menu"><a href="/deal_request?name=睡眠障碍&id=116" id="116">睡眠障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=食欲改变&id=117" id="117">食欲改变</a></li>
<li class="second-menu"><a href="/deal_request?name=前途问题&id=118" id="118">前途问题</a></li>
<li class="second-menu"><a href="/deal_request?name=妄想和幻觉&id=119" id="119">妄想和幻觉</a></li>
<li class="second-menu"><a href="/deal_request?name=抑郁性木僵&id=120" id="120">抑郁性木僵</a></li>
<li class="second-menu"><a href="/deal_request?name=易激惹&id=121" id="121">易激惹</a></li>
<li class="second-menu"><a href="/deal_request?name=情绪高涨&id=122" id="122">情绪高涨</a></li>
<li class="second-menu"><a href="/deal_request?name=活动增多&id=123" id="123">活动增多</a></li>
<li class="second-menu"><a href="/deal_request?name=语量增多&id=124" id="124">语量增多</a></li>
<li class="second-menu"><a href="/deal_request?name=注意力集中困难&id=125" id="125">注意力集中困难</a></li>
<li class="second-menu"><a href="/deal_request?name=睡眠需要减少&id=126" id="126">睡眠需要减少</a></li>
<li class="second-menu"><a href="/deal_request?name=性功能增强&id=127" id="127">性功能增强</a></li>
<li class="second-menu"><a href="/deal_request?name=轻度挥霍&id=128" id="128">轻度挥霍</a></li>
<li class="second-menu"><a href="/deal_request?name=社交性增高&id=129" id="129">社交性增高</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂附加症状&id=130" id="130">躁狂附加症状</a></li>
<li class="second-menu"><a href="/deal_request?name=正常社会约束力丧失&id=131" id="131">正常社会约束力丧失</a></li>
<li class="second-menu"><a href="/deal_request?name=观念飘忽&id=132" id="132">观念飘忽</a></li>
<li class="second-menu"><a href="/deal_request?name=自我评价过高&id=133" id="133">自我评价过高</a></li>
<li class="second-menu"><a href="/deal_request?name=躁狂附加症状&id=134" id="134">躁狂附加症状</a></li>
<li class="second-menu"><a href="/deal_request?name=正常社会约束力丧失&id=135" id="135">正常社会约束力丧失</a></li>
<li class="second-menu"><a href="/deal_request?name=行为出格&id=136" id="136">行为出格</a></li>
<li class="second-menu"><a href="/deal_request?name=自我评价过高&id=137" id="137">自我评价过高</a></li>
<li class="second-menu"><a href="/deal_request?name=妄想&id=138" id="138">妄想</a></li>
<li class="second-menu"><a href="/deal_request?name=幻觉&id=139" id="139">幻觉</a></li>
<li class="second-menu"><a href="/deal_request?name=压抑&id=140" id="140">压抑</a></li>
<li class="second-menu"><a href="/deal_request?name=脾气暴躁&id=141" id="141">脾气暴躁</a></li>
<li class="second-menu"><a href="/deal_request?name=烦躁&id=142" id="142">烦躁</a></li>
<li class="second-menu"><a href="/deal_request?name=易激惹&id=143" id="143">易激惹</a></li>
<li class="second-menu"><a href="/deal_request?name=反应迟钝&id=144" id="144">反应迟钝</a></li>
<li class="second-menu"><a href="/deal_request?name=注意力不集中&id=145" id="145">注意力不集中</a></li>
<li class="second-menu"><a href="/deal_request?name=发呆&id=146" id="146">发呆</a></li>
<li class="second-menu"><a href="/deal_request?name=走神&id=147" id="147">走神</a></li>
<li class="second-menu"><a href="/deal_request?name=静坐困难&id=148" id="148">静坐困难</a></li>
<li class="second-menu"><a href="/deal_request?name=行为被动&id=149" id="149">行为被动</a></li>
<li class="second-menu"><a href="/deal_request?name=行为迟缓&id=150" id="150">行为迟缓</a></li>
<li class="second-menu"><a href="/deal_request?name=不愿与人接触&id=151" id="151">不愿与人接触</a></li>
<li class="second-menu"><a href="/deal_request?name=不愿外出&id=152" id="152">不愿外出</a></li>
<li class="second-menu"><a href="/deal_request?name=不听管教&id=153" id="153">不听管教</a></li>
<li class="second-menu"><a href="/deal_request?name=对抗父母&id=154" id="154">对抗父母</a></li>
<li class="second-menu"><a href="/deal_request?name=离家出走&id=155" id="155">离家出走</a></li>
<li class="second-menu"><a href="/deal_request?name=言语暴力&id=156" id="156">言语暴力</a></li>
<li class="second-menu"><a href="/deal_request?name=冲动行为&id=157" id="157">冲动行为</a></li>
<li class="second-menu"><a href="/deal_request?name=发热&id=158" id="158">发热</a></li>
<li class="second-menu"><a href="/deal_request?name=忽冷忽热&id=159" id="159">忽冷忽热</a></li>
<li class="second-menu"><a href="/deal_request?name=潮热&id=160" id="160">潮热</a></li>
<li class="second-menu"><a href="/deal_request?name=头晕&id=161" id="161">头晕</a></li>
<li class="second-menu"><a href="/deal_request?name=胸闷&id=162" id="162">胸闷</a></li>
<li class="second-menu"><a href="/deal_request?name=气短&id=163" id="163">气短</a></li>
<li class="second-menu"><a href="/deal_request?name=心跳加快&id=164" id="164">心跳加快</a></li>
<li class="second-menu"><a href="/deal_request?name=血压升高&id=165" id="165">血压升高</a></li>
<li class="second-menu"><a href="/deal_request?name=应力性尿失禁&id=166" id="166">应力性尿失禁</a></li>
<li class="second-menu"><a href="/deal_request?name=尿频&id=167" id="167">尿频</a></li>
<li class="second-menu"><a href="/deal_request?name=尿急&id=168" id="168">尿急</a></li>
<li class="second-menu"><a href="/deal_request?name=阴毛脱落&id=169" id="169">阴毛脱落</a></li>
<li class="second-menu"><a href="/deal_request?name=腋毛脱落&id=170" id="170">腋毛脱落</a></li>
<li class="second-menu"><a href="/deal_request?name=性欲减退&id=171" id="171">性欲减退</a></li>
<li class="second-menu"><a href="/deal_request?name=阴道分泌物减少&id=172" id="172">阴道分泌物减少</a></li>
<li class="second-menu"><a href="/deal_request?name=性交时出现疼痛&id=173" id="173">性交时出现疼痛</a></li>
<li class="second-menu"><a href="/deal_request?name=肥胖&id=174" id="174">肥胖</a></li>
<li class="second-menu"><a href="/deal_request?name=关节疼痛&id=175" id="175">关节疼痛</a></li>
<li class="second-menu"><a href="/deal_request?name=骨质疏松&id=176" id="176">骨质疏松</a></li>
<li class="second-menu"><a href="/deal_request?name=历史特征&id=177" id="177">历史特征</a></li>
<li class="second-menu"><a href="/deal_request?name=社交行为&id=178" id="178">社交行为</a></li>
<li class="second-menu"><a href="/deal_request?name=社会心理&id=179" id="179">社会心理</a></li>
<li class="second-menu"><a href="/deal_request?name=语音情感&id=180" id="180">语音情感</a></li>
<li class="second-menu"><a href="/deal_request?name=人脸情感&id=181" id="181">人脸情感</a></li>
<li class="second-menu"><a href="/deal_request?name=人脸关键点&id=182" id="182">人脸关键点</a></li>
</ul>
        </li>
        <li class="first-menu">
            <a href="javascript:;">检查</a>
<ul>
<li class="second-menu"><a href="/deal_request?name=血液指标&id=183" id="183">血液指标</a></li>
<li class="second-menu"><a href="/deal_request?name=神经电生理&id=184" id="184">神经电生理</a></li>
<li class="second-menu"><a href="/deal_request?name=神经影像&id=185" id="185">神经影像</a></li>
<li class="second-menu"><a href="/deal_request?name=基因检测&id=186" id="186">基因检测</a></li>
</ul>
        </li>

         <li class="first-menu">
            <a href="javascript:;">检查因子</a>
             <ul>
<li class="second-menu"><a href="/deal_request?name=抑郁发作&id=187" id="187">抑郁发作</a></li>
<li class="second-menu"><a href="/deal_request?name=神经递质&id=188" id="188">神经递质</a></li>
<li class="second-menu"><a href="/deal_request?name=代谢指标&id=189" id="189">代谢指标</a></li>
<li class="second-menu"><a href="/deal_request?name=神经内分泌指标&id=190" id="190">神经内分泌指标</a></li>
<li class="second-menu"><a href="/deal_request?name=神经营养因子&id=191" id="191">神经营养因子</a></li>
<li class="second-menu"><a href="/deal_request?name=免疫因子&id=192" id="192">免疫因子</a></li>
<li class="second-menu"><a href="/deal_request?name=维生素&id=193" id="193">维生素</a></li>
<li class="second-menu"><a href="/deal_request?name=睡眠脑电图&id=194" id="194">睡眠脑电图</a></li>
<li class="second-menu"><a href="/deal_request?name=脑电图&id=195" id="195">脑电图</a></li>
<li class="second-menu"><a href="/deal_request?name=近红外&id=196" id="196">近红外</a></li>
<li class="second-menu"><a href="/deal_request?name=脑诱发电位&id=197" id="197">脑诱发电位</a></li>
<li class="second-menu"><a href="/deal_request?name=功能神经影像&id=198" id="198">功能神经影像</a></li>
<li class="second-menu"><a href="/deal_request?name=结构神经影像&id=199" id="199">结构神经影像</a></li>
<li class="second-menu"><a href="/deal_request?name=候选基因&id=200" id="200">候选基因</a></li>
<li class="second-menu"><a href="/deal_request?name=染色体结构变异&id=201" id="201">染色体结构变异</a></li>
</ul>

        </li>
         <li class="first-menu">
            <a href="javascript:;">治疗</a>
             <ul>
<li class="second-menu"><a href="/deal_request?name=心理治疗&id=202" id="202">心理治疗</a></li>
<li class="second-menu"><a href="/deal_request?name=物理治疗&id=203" id="203">物理治疗</a></li>
<li class="second-menu"><a href="/deal_request?name=药物治疗&id=204" id="204">药物治疗</a></li>
</ul>
        </li>
        <li class="first-menu">
            <a href="javascript:;">药物一类</a>
            <ul>
<li class="second-menu"><a href="/deal_request?name=综合性药物&id=205" id="205">综合性药物</a></li>
<li class="second-menu"><a href="/deal_request?name=抗抑郁药物-不伴睡眠障碍&id=206" id="206">抗抑郁药物-不伴睡眠障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=抗抑郁药物-伴睡眠障碍&id=207" id="207">抗抑郁药物-伴睡眠障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=抗抑郁药物-伴幻觉、妄想、敏感多疑&id=208" id="208">抗抑郁药物-伴幻觉、妄想、敏感多疑</a></li>
<li class="second-menu"><a href="/deal_request?name=抗精神病药&id=209" id="209">抗精神病药</a></li>
<li class="second-menu"><a href="/deal_request?name=心境稳定剂&id=210" id="210">心境稳定剂</a></li>
</ul>

        </li>
        <li class="first-menu">
            <a href="javascript:;">药物二类</a>
<ul>
<li class="second-menu"><a href="/deal_request?name=选择性5-羟色胺再摄取抑制剂&id=211" id="211">选择性5-羟色胺再摄取抑制剂</a></li>
<li class="second-menu"><a href="/deal_request?name=5-羟色胺-去甲肾上腺素再摄取抑制剂&id=212" id="212">5-羟色胺-去甲肾上腺素再摄取抑制剂</a></li>
<li class="second-menu"><a href="/deal_request?name=其他抗抑郁药物-不伴睡眠障碍&id=213" id="213">其他抗抑郁药物-不伴睡眠障碍</a></li>
<li class="second-menu"><a href="/deal_request?name=三环类抗抑郁药&id=214" id="214">三环类抗抑郁药</a></li>
<li class="second-menu"><a href="/deal_request?name=入睡困难药物&id=215" id="215">入睡困难药物</a></li>
<li class="second-menu"><a href="/deal_request?name=安定类药物&id=216" id="216">安定类药物</a></li>
<li class="second-menu"><a href="/deal_request?name=其他助睡眠抗抑郁药&id=217" id="217">其他助睡眠抗抑郁药</a></li>
<li class="second-menu"><a href="/deal_request?name=抗精神病药&id=218" id="218">抗精神病药</a></li>
<li class="second-menu"><a href="/deal_request?name=中成药&id=219" id="219">中成药</a></li>
</ul>
        </li>
<!--         <li class="first-menu">-->
<!--            <a href="javascript:;">药物小类</a>-->
<!--             <ul>-->
<!--                <li class="second-menu"><a href="/deal_request?name=抗精神病药&id=443" id="443">抗精神病药</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=选择性5-羟色胺再摄取抑制剂&id=444" id="444">选择性5-羟色胺再摄取抑制剂</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=三环类抗抑郁药&id=445" id="445">三环类抗抑郁药</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=入睡困难药物&id=446" id="446">入睡困难药物</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=安定类药物&id=447" id="447">安定类药物</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=6-羟色胺-去甲肾上腺素再摄取抑制剂&id=448" id="448">6-羟色胺-去甲肾上腺素再摄取抑制剂</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=其他抗抑郁药物-不伴睡眠障碍&id=449" id="449">其他抗抑郁药物-不伴睡眠障碍</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=选择性8-羟色胺再摄取抑制剂&id=450" id="450">选择性8-羟色胺再摄取抑制剂</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=选择性7-羟色胺再摄取抑制剂&id=451" id="451">选择性7-羟色胺再摄取抑制剂</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=选择性6-羟色胺再摄取抑制剂&id=452" id="452">选择性6-羟色胺再摄取抑制剂</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=选择性9-羟色胺再摄取抑制剂&id=453" id="453">选择性9-羟色胺再摄取抑制剂</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=中成药&id=454" id="454">中成药</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=选择性10-羟色胺再摄取抑制剂&id=455" id="455">选择性10-羟色胺再摄取抑制剂</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=其他助睡眠抗抑郁药&id=456" id="456">其他助睡眠抗抑郁药</a></li>-->
<!--                <li class="second-menu"><a href="/deal_request?name=5-羟色胺-去甲肾上腺素再摄取抑制剂&id=457" id="457">5-羟色胺-去甲肾上腺素再摄取抑制剂</a></li>-->
<!--             </ul>-->
<!--        </li>-->
    </ul>
</div>
</body>
</html>
<script >
     $(".menu-list .first-menu").click(function(){
            $(this).addClass("active").siblings().removeClass("active");
            $(this).find("ul").slideToggle(500);
            $(this).siblings().find("ul").hide();
        })
      $(".menu-list .second-menu").click(function(){
        var $this = $(this);
        $(".second-menu").each(function () {
            if($(this).hasClass("current")){
                $(this).removeClass("current");
            }
        })
        $this.addClass("current").siblings().removeClass("current");
        })
                //  阻止事件冒泡
        $(".menu-list .first-menu ul").bind("click",function(event){
            event.stopPropagation();
        })
     </script>